In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(5,3),
                  index = list(range(1,6)),
                  columns = list("ABC"))

In [4]:
df

          A         B         C
1  1.582823  1.076446  0.829095
2 -1.506503  0.734335 -1.578066
3  0.777294 -0.482560  0.905029
4 -0.146647  1.381364  1.715434
5  1.606259 -1.217533 -0.128974

In [5]:
df[df.B>0]

          A         B         C
1  1.582823  1.076446  0.829095
2 -1.506503  0.734335 -1.578066
4 -0.146647  1.381364  1.715434

In [8]:
df.loc[1:2, "B":"C"]

          B         C
1  1.076446  0.829095
2  0.734335 -1.578066

In [9]:
df.loc[df.B>0, "C"] = 0

In [10]:
df

          A         B         C
1  1.582823  1.076446  0.000000
2 -1.506503  0.734335  0.000000
3  0.777294 -0.482560  0.905029
4 -0.146647  1.381364  0.000000
5  1.606259 -1.217533 -0.128974