In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
mydata1 = np.random.rand(5,5)

In [4]:
mydata1

array([[0.25877913, 0.29862134, 0.38065635, 0.84329363, 0.93077378],
       [0.18819016, 0.09646267, 0.874905  , 0.44566045, 0.16949351],
       [0.86397327, 0.97157257, 0.81792692, 0.24982375, 0.03509079],
       [0.09488092, 0.51977815, 0.26458472, 0.11226015, 0.96388768],
       [0.98373978, 0.18121802, 0.43338222, 0.67963734, 0.36401291]])

In [5]:
mydata2 = np.random.rand(5,5)

In [6]:
mydata2

array([[0.84942203, 0.05705235, 0.40456273, 0.78351293, 0.05675803],
       [0.69034245, 0.76488544, 0.37293917, 0.22912607, 0.93059373],
       [0.55759634, 0.78447325, 0.45027816, 0.40338841, 0.25821527],
       [0.44984446, 0.26506736, 0.31585884, 0.22470271, 0.06287415],
       [0.42610873, 0.59326605, 0.69170859, 0.53372612, 0.92150331]])

In [8]:
m1 = pd.DataFrame(mydata1,columns=list("ABCDE"))

In [9]:
m2 = pd.DataFrame(mydata2,columns=list("ABCDE"))

In [13]:
df = pd.concat([m1,m2], axis=0)

In [14]:
df.index = range(10)

In [15]:
df

          A         B         C         D         E
0  0.258779  0.298621  0.380656  0.843294  0.930774
1  0.188190  0.096463  0.874905  0.445660  0.169494
2  0.863973  0.971573  0.817927  0.249824  0.035091
3  0.094881  0.519778  0.264585  0.112260  0.963888
4  0.983740  0.181218  0.433382  0.679637  0.364013
5  0.849422  0.057052  0.404563  0.783513  0.056758
6  0.690342  0.764885  0.372939  0.229126  0.930594
7  0.557596  0.784473  0.450278  0.403388  0.258215
8  0.449844  0.265067  0.315859  0.224703  0.062874
9  0.426109  0.593266  0.691709  0.533726  0.921503

In [2]:
dept = {
"土語系": [2, 2, 0, 1, 0, 0, 0, 1, 1, 0],
"財政系": [1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0],
"金融系": [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0],
"國貿系": [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0],
"會計系": [1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0],
"法律系": [1, 2, 0, 1, 0, 0, 0, 1, 0, 1],
"公行系": [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25],
"應數系": [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0],
"教育系": [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0]
}

In [4]:
grade_df = pd.DataFrame(dept,columns=list(國文,英文,數甲,數乙,物理,化學,生物,歷史,地理,公民))

NameError: name '國文' is not defined

In [25]:
list["國文英文數甲數乙物理化學生物歷史地理公民"]

TypeError: 'type' object is not subscriptable

In [26]:
type(dict)

type

In [31]:
list("國文英文數甲數乙物理化學生物歷史地理公民")

['國',
 '文',
 '英',
 '文',
 '數',
 '甲',
 '數',
 '乙',
 '物',
 '理',
 '化',
 '學',
 '生',
 '物',
 '歷',
 '史',
 '地',
 '理',
 '公',
 '民']