In [1]:
a= 90

In [2]:
(a<100) and (a>30)

True

In [3]:
(a>50) or (a<3)

True

In [8]:
message = ""
while message != "bye":
    message = input("輸入訊息：")
    print("拍拍")

輸入訊息：天氣很糟
拍拍
輸入訊息：python學好慢
拍拍
輸入訊息：bye
拍拍

In [10]:
name = "Annie"
place = "Taichung"
message = "來自 {} 的 {} ！".format(place, name)
print(message)

來自 Taichung 的 Annie ！

In [11]:
m = 270
print(str(m) + "合台幣" + str(m*30.5) + "元")

270合台幣8235.0元

In [12]:
print("{}合台幣{}元".format(m, m*30.5))

270合台幣8235.0元

In [13]:
def square(x):
    return x**2

In [14]:
square(9)

81

In [16]:
def say_hi(name, place):
    message = "來自 {} 的 {} ！".format(place, name)
    return message

In [17]:
say_hi("依晨","台北")

'來自 台北 的 依晨 ！'

In [18]:
l = [5, 3, 6, 10, 4]

In [19]:
l[2]

6

In [21]:
l[2:5]

[6, 10, 4]

In [22]:
l[3:]

[10, 4]

In [23]:
l[:2]

[5, 3]

In [24]:
l[:]

[5, 3, 6, 10, 4]

In [25]:
l[-1]

4

In [26]:
l[-2:]

[10, 4]

In [27]:
string = "hello"
string[2:]

'llo'

In [28]:
name = "蔡亞芸"

In [29]:
name[0]

'蔡'

In [30]:
name[1:]

'亞芸'

In [31]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [33]:
list(range(3, 15))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [34]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']